.select-kit.command-palette {
  width: 100%;
  margin-bottom: 1em;

  li.select-kit-row.topic-row {
    flex-direction: column;
    align-items: end;

    .topic-row-title {
      padding: 3px 0;
      font-weight: bold;
    }
  }
}
